<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <h1>{{ title }}</h1>
            <button v-bind:class="[sizeToggle ? 'large' : '', {'rounded' :  isRounded}]"
                    v-bind:style="styles"
                    v-bind:disabled="disabled"> Start </button>
                    <ul>
                        <li><input type="checkbox" v-model="sizeToggle"><label for="">Увеличить шрифт</label></li>
                        <li><input type="checkbox" v-model="isRounded"><label for="">Округлить</label></li>
                        <li><input type="checkbox" v-model="disabled"><label for="">Disabled</label></li>

                        <li><input type="text" v-model="fontColor"></li>
                        <li><input type="text" v-model="backgroundColor"></li>
                    </ul>
        </div>
    </div>






    <!-- версия для разработки, отображает полезные предупреждения в консоли -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
</body>

</html>